<script type="text/javascript">
    function review(name, year, string) {
        var host = window.location.origin;
        var url = new URL(host+string);
        var query_name = name.replace("\n","+")
        url.searchParams.append("title", query_name);
        url.searchParams.append("year", year);
        window.location=url.toString();
    }
</script>

{% extends 'layout.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="rev-flex">
    <div class="rev-section">

        <h2 class="title">Reviews for {{movie.title}}</h2>
        <div style="display:flex;justify-content:center;">
                    <button class="nxt-btn" onclick='review("{{movie.title}}","{{movie.release_year}}","{{ url_for("review_bp.write") }}")'>Review this!</button>
        </div>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review">
                    <div class="body-review">
                        <div class="name-review">{{review.movie.title}}</div>
                        <div class="place-review">{{review.timestamp}}</div>
                        <div class="rating">
                            {{review.rating}}
                        </div>
                        <div class="desc-review">
                            {{review.review_text}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}