<script type="text/javascript">
    function newMovie(name, year, string) {
        var host = window.location.origin;
        var url = new URL(host+string);
        var query_name = name.replace("\n","+")
        url.searchParams.append("name", query_name);
        url.searchParams.append("year", year);
        window.location=url.toString();
    }


</script>

{% extends 'layout.html' %}
{% block content %}
<div class="user">
    {% if loggedin %}
    <div class="row">
        <div class="flex-col1" style="margin-left: 200px;color:white;">
            <div class="flex-row">
                <h1>USER: {{user.username}}</h1>
                <h3>Minutes watched: {{user.time_spent_watching_movies_minutes}} mins</h3>
            </div>
            <div class="flex-row">
                <h3>Watchlist</h3>
            </div>
            {% for movie in movieList %}
            <div class="flex-item-movie">
                <button style="border:none; background: none;"
                        onclick='newMovie("{{movie.title}}","{{movie.release_year}}","{{ url_for("movie_bp.browse") }}")'><img src="{{movie.image}}"
                                                                                            class="movie-rec">
                </button>
                <p class="recs-movie-title">{{movie.title}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row" style="position: relative;top: -180px;">
        <div class="flex-col1" style="margin-left: 200px;color:white;">
            <div class="flex-row">
                <h3>History</h3>
            </div>
            {% for movie in watchedList %}
            <div class="flex-item-movie">
                <button style="border:none; background: none;"
                        onclick='newMovie("{{movie.title}}","{{movie.release_year}}","{{ url_for("movie_bp.browse") }}")'><img src="{{movie.image}}"
                                                                                            class="movie-rec">
                </button>
                <p class="recs-movie-title">{{movie.title}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
        <div class="row" style="position: relative;top: -360px;">
        <div class="flex-col1" style="margin-left: 200px;color:white;">
            <div class="flex-row">
                <h3>My reviews</h3>
            </div>
            {% for review in user.reviews %}
            <div class="review">
                    <div class="body-review">
                        <div class="name-review">{{review.movie.title}}</div>
                        <div class="place-review">{{review.timestamp}}</div>
                        <div class="rating">
                            {{review.rating}}
                        </div>
                        <div class="desc-review">
                            {{review.review_text}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <div style="text-align:center;">
            <h1>Please log in</h1>
        </div>
    {% endif %}
</div>
{% endblock %}